* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #dfdfdf;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    height: 30px;
    width: 50;
}

nav {
    width: 100%; /* Garante que a nav não exceda o viewport */
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #101010;
    height: 8vh;
}

body {
    background-color: #101010;
    max-width: 100%;
    overflow-x: hidden;
}

#particles-js canvas {
    display: block; /* Remove espaços extras abaixo do canvas */
    max-width: 100vw; /* Limita a largura do canvas ao viewport */
    overflow: hidden; /* Garante que nada do canvas vaze para fora da tela */
}


.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    transition: transform 0.3s ease-in-out;
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #dfdfdf;
    margin: 8px;
    transition: 0.3s;
}

.init {
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: auto;
    width: 100%;
}

.init-content {
    padding-top: 8rem;
    flex: 1;
    text-align: center;
    max-width: auto;
}

.init-content .scroll-icon {
    padding-top: 8rem;
    width: 40px;
    height: 40px;
}

.init-content img {
    height: 50px;
    width: 200px;
}

.sim {
    padding-top: 2rem;
    font-weight: 100;
    color: #dfdfdf;
    font-size: 3.5rem;
    line-height: 1;
}

.glitch {
    padding-top: 0;
    font-weight: 800;
    color: #fd0d0c;
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 30px;
}

.glitch-animation {
    animation: glitch 0.1s infinite alternate;
}

@keyframes glitch {
    0% {
        text-shadow: 2px 0 0 red, -2px 0 0 cyan;
    }
    20% {
        text-shadow: -2px 0 0 red, 2px 0 0 cyan;
    }
    40% {
        text-shadow: 2px 0 0 red, -2px 0 0 cyan;
    }
    60% {
        text-shadow: -2px 0 0 red, 2px 0 0 cyan;
    }
    80% {
        text-shadow: 2px 0 0 red, -2px 0 0 cyan;
    }
    100% {
        text-shadow: -2px 0 0 red, 2px 0 0 cyan;
    }
}


.init-content p {
    color: #dfdfdf;
    font-size: 22px;
}

.init-content p span {
    color: #fd0d0c;
    font-size: 22px;
}

.services {
    padding-top: 8rem;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.separar {
    color: #dfdfdf;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
}

.services h2 {
    color: #fd0d0c;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.services-content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1.0 calc(33.33% - 20px);
    background-color: #111111;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}

.service-item {
    position: relative;
    border-radius: 20px;
    overflow: hidden; /* Garante que o degradê da borda não ultrapasse o conteúdo */
}

.service-item {
    border: 2px solid transparent; /* Define uma borda transparente */
    border-image: linear-gradient(to bottom right, transparent 70%, rgba(255, 0, 0, 0.5)) 2 round;
}

/* Estilos para a imagem */
.services-content img {
    margin-top: 10px;
    align-items: center;
    width: 50px;
    height: 50px;
}

/* Estilos para o título */
.services-title {
    color: #fd0d0c;
    font-weight: 800;
    margin-top: 10px; /* Espaçamento superior */
}

/* Estilos para o texto */
.services-text {
    text-align: center;
    color: #dfdfdf;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.benefits {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 8rem;
    width: 100%;
}

.benefits-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.benefits-content-img {
    flex: 0 0 auto; /* Não se estende */
    margin-right: 20px; /* Espaço à direita */
    display: flex; /* Adiciona display flex para alinhar verticalmente */
    align-items: center;
}

.benefits-content-img img{
    flex-basis: 50%;
    width: 450px;
    height: 600px;
    flex: 1;
    padding-right: 0;
    margin-right: 0;
}

.benefits-details {
    text-align: center;
}

.benefits-details > * {
    margin-bottom: 30px;
}

.team,
.experience,
.social {
    width: calc(100% - 30%);
    background-color: #111111;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto 20px;
}

.team,
.experience,
.social {
    border: 2px solid transparent; /* Define uma borda transparente */
    border-image: linear-gradient(to bottom right, transparent 70%, rgba(255, 0, 0, 0.5)) 2 round;
}

.benefits-details > *:last-child {
    margin-bottom: 0;
}

.benefits-details h1,
.benefits-details h2,
.benefits-details p {
    margin-top: 0;
}

.benefits-details h1 {
    font-size: 2rem;
    color: #fd0d0c;
}

.benefits-details h2 {
    color: #fd0d0c;
    margin-bottom: 20px;
}

.benefits-details p {
    color: #dfdfdf;
}

.benefits-btn {
    font-weight: 700;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #fd0d0c;
}

.benefits-btn:hover {
    background-color: #8d0606;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 8rem;
    width: 100%;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.about-content-img {
    flex: 0 0 auto; /* Não se estende */
    margin-right: 20px; /* Espaço à direita */
    display: flex; /* Adiciona display flex para alinhar verticalmente */
    align-items: center;
}

.about-content-img img{
    flex-basis: 50%;
    width: 600px;
    height: 600px;
    flex: 1;
    padding-right: 0;
    margin-right: 0;
}

.about-details {
    text-align: left;
    align-items: center;
}

.about-details h1 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #fd0d0c;
    text-align: left;
}

.about-details p {
    line-height: 1.5;
    font-size: 1.2rem;
    color: #dfdfdf;
    text-align: left;
    margin-bottom: 30px;
}

.about-btn {
    padding: 20px;
    background-color: #fd0d0c;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

.about-btn:hover {
    background-color: #8d0606;
}

.feedbacks {
    text-align: center;
    justify-content: center;
    padding-top: 8rem;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.feedbacks h1 {
    color: #fd0d0c;
    font-size: 2rem;
    margin-bottom: 50px;
}

.feedbacks-content {
    margin: 0 auto;
    width: 400px;
    height: 700px;
    overflow: hidden;
}

.slider {
    width: 400%;
    height: 700px;
    display: flex;
}

.slider input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    border-radius: 20px;
    height: 700px;
}

.manual-navigation {
    position: absolute;
    width: 400px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    background-color: #fd0d0c;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background-color: #dfdfdf;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}

.cta {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
    width: 100%;
    /* Definindo a borda inferior */
    border-bottom: 2px solid transparent;
    /* Definindo o gradiente para a borda */
    border-image: linear-gradient(to right, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%);
    /* Tamanho do gradiente */
    border-image-slice: 1;
}



.cta-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.cta-content-img {
    flex: 0 0 auto; /* Não se estende */
    margin-right: 20px; /* Espaço à direita */
    display: flex; /* Adiciona display flex para alinhar verticalmente */
    align-items: center;
}

.cta-content-img img{
    flex-basis: 50%;
    width: 500px;
    height: 600px;
    flex: 1;
    padding-right: 0;
    margin-right: 0;
}

.cta-details {
    text-align: center;
    align-items: center;
}

.cta-details h5 {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #fd0d0c;
}

.cta-details h1 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #fd0d0c;
}

.cta-details p {
    line-height: 1.5;
    font-size: 1.2rem;
    color: #dfdfdf;
    margin-bottom: 30px;
}

.cta-btn {
    padding: 20px;
    background-color: #fd0d0c;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

.cta-btn:hover {
    background-color: #8d0606;
}

.footer {
    position: relative;
    padding: 8rem 20px 0;
    display: flex;
    justify-content: center;
    border-top: 2px solid transparent; /* Definindo uma vez */
    border-top: linear-gradient(to right, transparent 0%, #fd0d0c 50%, transparent 100%); /* Definindo novamente */
    background-size: 100% 50%;
    background-repeat: no-repeat;
}


.final {
    max-width: 100%;
    box-sizing: border-box;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.final-details {
    text-align: center;
}

.final-details h2{
    color: #dfdfdf;
    margin-bottom: 20px;
    text-align: center;
}

.final-details p{
    color: #777777;
    margin-bottom: 20px;
    text-align: center;
}

.final-img {
    margin-right: 200px;
}

.final-img img {
    display: block;
    width: 200px;
    height: 50px;
}

.author {
    background-color: #0e0e0e;
    padding: 2rem;
}

.author-content {
    display: flex;
    justify-content: center;
}

.paragraphs-wrapper {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-content p {
    color: #777777;
    margin: 0;
    text-align: center;
    display: inline-block;
}

.author-content p:first-child {
    margin-right: auto;
    text-align: left;
}

.author-content p:last-child {
    margin-left: auto;
    text-align: right;
}

@media (max-width: 999px) {
    /* Outros estilos que você já tem */

    .nav-list {
        position: fixed; /* Usar fixed em vez de absolute para ficar relativo à viewport */
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #101010;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%); /* Começa fora da tela */
        transition: transform 0.3s ease-in;
        z-index: 1000; /* Garante que o menu fique acima de outros conteúdos */
    }

    .mobile-menu {
        display: block; /* Garante que o botão esteja visível */
    }

    .nav-list.active {
        transform: translateX(0); /* Quando ativo, move para a posição de visualização */
    }

    /* Animação para os links do menu */
    .nav-list li {
        opacity: 1; /* Se você quiser animar a opacidade, mantenha como 1 */
        animation: navLinkFade 0.5s ease forwards var(--i);
    }

    /* Estilização das linhas do menu quando ativo */
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -5px);
    }
}


@media (max-width: 1198.98px) {
    .about, .cta {
        flex-direction: row; /* Mantém os itens lado a lado */
        align-items: center; /* Centraliza verticalmente */
        justify-content: center; /* Centraliza horizontalmente */
        padding-top: 4rem; /* Ajuste o padding para menor em telas menores */
        padding-bottom: 4rem;
    }

    .about-content, .cta-content {
        flex-direction: row; /* Garante que os itens fiquem lado a lado */
        align-items: center; /* Alinha verticalmente os itens */
        justify-content: center; /* Centraliza horizontalmente dentro do contêiner */
        max-width: 100%; /* Aumenta a largura máxima para adaptar ao espaço disponível */
        padding: 0 20px; /* Adiciona padding horizontal */
    }

    .about-content-img, .cta-content-img {
        margin-right: 20px; /* Espaço à direita para separar da descrição */
        width: auto; /* Ajusta a largura para auto para adaptar ao conteúdo */
        max-width: 50%; /* Limita a largura máxima da imagem */
    }

    .about-content-img img, .cta-content-img img {
        width: 100%; /* Faz a imagem ocupar todo o espaço disponível na div de imagem */
        height: auto; /* Mantém a proporção da imagem */
    }

    .about-details, .cta-details {
        max-width: 50%; /* Limita a largura máxima dos detalhes para equilibrar com a imagem */
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        overflow-x: hidden; /* Evita rolagem horizontal */
    }

    .init, .services, .benefits, .about, .cta, .feedbacks, .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; /* Garante que as seções não excedam a largura da tela */
        max-width: 100%; /* Limita a largura máxima */
        box-sizing: border-box; /* Inclui padding e bordas na largura total */
    }

    /* Ajustes específicos para conteúdo centralizado e em coluna */
    .init-content, .services-content, .benefits-content, .about-content, .cta-content, .feedbacks-content, .footer-content {
        align-items: center;
        justify-content: center;
        padding: 0 15px; /* Adiciona padding para evitar que o conteúdo toque as bordas */
    }

    /* Removendo a ordem negativa para a imagem da benefits e colocando ela por último */
    .benefits-content-img {
        order: 3; /* Coloca a imagem no final do conteúdo */
        margin-top: 20px; /* Adiciona espaço entre o texto e a imagem */
    }

    .about-content {
        flex-direction: column; /* Muda a direção do flex para coluna */
    }

    .about-content-img {
        margin-right: 0; /* Remove a margem à direita, que não é necessária em layout de coluna */
        margin-bottom: 20px; /* Adiciona espaço entre a imagem e o texto abaixo */
    }

    .about-details {
        text-align: center; /* Centraliza o texto para alinhar com a imagem acima */
    }

    .about-details, .cta-details, .benefits-details {
        width: 90%; /* Define a largura para 90% da largura disponível para garantir que não fiquem muito estreitos */
        margin: 0 auto; /* Centraliza os detalhes na página */
        text-align: center; /* Alinha o texto ao centro */
    }

    .about-content-img img, .cta-content-img img, .benefits-content-img img {
        max-width: 100%; /* Garante que a imagem não exceda a largura do container */
        height: auto; /* Mantém a proporção da altura */
    }

    .about-content, .benefits-content, .cta-content {
        flex-direction: column; /* Empilha imagem e texto verticalmente */
        align-items: center; /* Alinha os conteúdos ao centro */
    }

    .about-content-img img {
        width: 80%; /* Reduz a largura da imagem para melhor ajuste */
        max-width: 400px; /* Define uma largura máxima para garantir que não fique muito grande */
        height: auto; /* Mantém a proporção da altura baseada na largura ajustada */
    }

    .about-content, .benefits-content, .services-content, .cta-content, .feedbacks-content, .footer-content {
        max-width: 100%; /* Garante que os conteúdos não excedam a largura da viewport */
        padding: 0 20px; /* Adiciona padding para evitar que o conteúdo toque as bordas da viewport */
        box-sizing: border-box; /* Inclui padding na largura total do elemento */
    }

    .about-content-img img, .cta-content-img img, .benefits-content-img img {
        max-width: 100%; /* Ajusta a largura máxima para a imagem */
        height: auto; /* Mantém a proporção da altura */
    }

    .about, .services, .benefits, .cta, .feedbacks, .footer {
        width: 100%; /* Assegura que as seções ocupem toda a largura disponível */
    }

    .benefits-content {
        flex-direction: column; /* Altera o layout para empilhar verticalmente */
    }

    .benefits-content-img {
        margin-right: 0; /* Remove o espaçamento à direita */
        margin-bottom: 20px; /* Adiciona espaçamento entre a imagem e os detalhes abaixo */
    }

    .benefits-content-img img {
        max-width: 300px; /* Ajusta a largura máxima da imagem */
        height: auto; /* Mantém a proporção da altura baseada na largura */
    }

    .benefits-details, .team, .experience, .social {
        width: 100%; /* Faz com que ocupem a largura total do container */
        text-align: center; /* Centraliza o texto */
    }

    .team, .experience, .social {
        max-width: 100%; /* Limita a largura ao máximo do container */
        box-sizing: border-box; /* Inclui padding e bordas na largura total */
        padding: 20px; /* Mantém o padding para consistência do layout */
        margin: 20px 0; /* Adiciona margem vertical para separação */
        background-color: #111111; /* Mantém o fundo, se necessário */
        border-radius: 10px; /* Mantém os cantos arredondados */
        border: 2px solid transparent; /* Mantém a borda */
        border-image: linear-gradient(to bottom right, transparent 70%, rgba(255, 0, 0, 0.5)) 2 round; /* Mantém a borda gradiente */
    }
}


@media (max-width: 425px) {

    .services-content {
        flex-direction: column;
        padding: 0; /* Remove o padding que estava definido para ajustar o conteúdo */
    }

    .services-content > div {
        /* Redefine o flex para não calcular o tamanho com base em 33.33% e espaço entre itens */
        flex: none;
        width: 100%; /* Faz cada div ocupar a largura inteira */
        margin-bottom: 20px; /* Adiciona espaço abaixo de cada div para separação */
    }

    /* Estilizações adicionais para ajustar o tamanho e alinhamento dos itens internos */
    .services-content img {
        width: 80px; /* Aumenta o tamanho da imagem se necessário */
        height: 80px; /* Ajusta a altura proporcionalmente */
        margin-bottom: 20px; /* Espaço abaixo da imagem */
    }

    .services-title, .services-text {
        text-align: center; /* Centraliza o título e o texto */
    }

    .services h2, .separar {
        margin-bottom: 20px; /* Adiciona espaço abaixo dos títulos para separação */
    }

    .benefits-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .benefits-content-img img {
        max-width: 100%; /* Limita a largura máxima a 100% do seu contêiner */
        height: auto; /* Mantém a proporção da altura baseada na largura */
        width: 80%; /* Define uma largura padrão como 80% do contêiner */
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .about-details h1 {
        text-align: center;
        margin: auto;
        width: 100%;
    }

    .about-details p {
        text-align: center;
        margin: auto;
        width: 100%;
    }

    .about-content-img {
        margin: 0 auto; /* Centraliza a div */
        display: flex;
        justify-content: center;
        width: 100%; /* Faz a div ocupar toda a largura disponível */
    }

    .about-content-img img {
        width: 300px;
    }

    .cta-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cta-content-img img {
        margin-left: 30px;
        max-width: 100%; /* Limita a largura máxima a 100% do seu contêiner */
        height: auto; /* Mantém a proporção da altura baseada na largura */
        width: 90%; /* Define uma largura padrão como 80% do contêiner */
    }

    .cta-details h5 {
        margin-top: 20px;
    }

    .final {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; /* Isso irá centralizar o texto dentro da div .final-details */
        margin: auto; /* Isso irá centralizar a div .final na página */
        padding: 3rem;
    }
    
    .final-img,
    .final-img img {
        padding-bottom: 10px;
        width: 200px; /* Largura fixa para a imagem */
        height: auto; /* Altura automática para manter a proporção */
        margin: 0 auto; /* Isso irá centralizar a imagem dentro da div .final-img */
        display: block; /* Não é necessário 'display: flex' para a imagem */
    }
}



